.quote {
    font-size: 1.5em;
    line-height: 1.4;
    font-style: italic;
    color: #555;
    margin: 20px 0;
    position: relative;
    align-items: center;
    padding-left: 20px;
  }

  .quote:before {
    /* opening quote */
    content: "“";
    font-size: 2em;
    color: #838383;
    position: absolute;
    /* left offset */
    left: 0px;
    /* upward offset */
    top: -10px;
  }

  .quote:after {
    /* closing quote */
    content: "”";
    font-size: 2em;
    color: #838383;
    position: absolute;
    /* downward offset */
    bottom: -20px;
  }

  .author {
    /* right align */
    text-align: right;
    font-size: 1.2em;
    color: #777;
    margin-top: -25px;
  }